

.container{
    width: 1000xp;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
}

.add{
    float: right;
    
}

.nav{
    background-color: aqua;
    float: left;
    margin-left: 100xp;
    margin-right: 100xp;
}